{% extends "template.html.twig" %}

{% block section %}
<section class="forme">
		<h1 id="changejs">Nouveau article</h1>
			<form id="formulaire" class="edit_club" action="BackOffice/new_article_action.php" method="POST" enctype="multipart/form-data">
				<div>

					<div class="hide active">
						<div class="submenu">
							<span>FR</span>
							<div class="arrow-right"></div>
							<span>EN</span>
							<div class="arrow-right"></div>
							<span  class="current">Info</span>
							<div class="arrow-right"></div>
							<span>Images</span>
						</div>
						<h4>ACTIVITE</h4>
						<div class="filtres">
					{% for activite in tag %}
						<input type="radio" name="tag" value="{{activite.id}}">
						<label for="tag">{{activite.name_FR}}</label>
						<br/>
				{% endfor %}
							<input type="hidden" name="retour" value="admin">
						</div>
				</div>


					<div class="hide">
						<div class="submenu">
							<span class="current">FR</span>
							<div class="arrow-right"></div>
							<span>EN</span>
							<div class="arrow-right"></div>
							<span>Info</span>
							<div class="arrow-right"></div>
							<span>Images</span>
						</div>
						<div class="error_msg">Le nom n'est pas renseigné<div></div></div>
						<input type="text" name="name" id="name" value="{{titre_fr}}">
						<br>
						<label for="name">* Titre en français</label>
						<br>
						<textarea rows="4" cols="50" id="article_FR" name="article_FR" >{{fr}}</textarea>
						<br>
						<label for="article_FR">Article en français</label>
						<br><br>
						<span><em>Les champs avec * sont obligatoires</em></span>
					</div>


				<div class="hide">
						<div class="submenu">
							<span>FR</span>
							<div class="arrow-right"></div>
							<span class="current">EN</span>
							<div class="arrow-right"></div>
							<span>Info</span>
							<div class="arrow-right"></div>
							<span>Images</span>
						</div>
						<div class="error_msg">Le nom n'est pas renseigné<div></div></div>
						<input type="text" name="name_en" id="name_en" value="{{titre_en}}">
						<br>
						<label for="name">* Titre en anglais</label>
						<br>
						<textarea rows="4" cols="50" id="article_EN" name="article_EN" >{{en}}</textarea>
						<br>
						<label for="article_EN">Article en anglais</label>
						<br><br>
						<span><em>Les champs avec * sont obligatoires</em></span>
					</div>

				<div class="hide" id="input_images">
						<div class="submenu">
							<span>FR</span>
							<div class="arrow-right"></div>
							<span>EN</span>
							<div class="arrow-right"></div>
							<span>Filtres</span>
							<div class="arrow-right"></div>
							<span>Info</span>
							<div class="arrow-right"></div>
							<span class="current">Images</span>
						</div>
						<h4>Images</h4>
						<input type="hidden" name="MAX_FILE_SIZE" value="300000000" /> 
{% if count_img > 0 %}			
					<div class="input_images">
						<input name="files[]" id="file1" type="file" accept="image/*"/> 
						<input class = "image_checkbox" type="checkbox" name="delete_img[]" value="{{img_id}}">
	           			<label for="file1" class="on_delete"  style="background-image: url('../images/articles/{{img_url}}'); ">
	           			 	<span></span>
	           			</label>
           			</div>	
{% else %}
						<input name="files[]" id="file1" type="file" accept="image/*" />
						<label for="file1"><span class="arrow_up"></span></label>
{% endif %}
				</div>

				<div class="clearfix">
					<div>
						<a class ="btn_float_empty" href="admin_clubs.php">Annuler</a>
						<span class="btn_float inactive" id="previous">Précedent</span>
						<span class="btn_float" id="next">Suivant</span>

						<input type="hidden" name="id" value="{{club_id}}">
						<input type="submit" name="submit" id="submit_new_club" class="btn_float" value="envoyer">
						<p id="error_msg">Veuillez bien remplir le formulaire</p>
					</div>
				</div>
			</div>
			</form>
	</section>
{% endblock %}


