{% extends "template.html.twig" %}

{% block section %}
<section class="forme">

		<h1>Editer utilisateur {{user_name}}</h1>
		<div>
		<form action="BackOffice/upload_action_avatar.php" method="POST" enctype="multipart/form-data">
			<div>
            <input type="hidden" name="MAX_FILE_SIZE" value="300000000" /> 
            <input type="hidden" name="type" value="avatar" /> 
            <input id="idfile" name="userfile" type="file" /> 
            <label for="idfile"><img class="user_icon_big" src="../images/avatars/default.svg"></label>
            <input name ="envoi" type="submit" value="Changer l'avatar" />
        	</div>
    	</form>

		<form class="edit_flex" method="POST" action="user/change_mdp.php">
			<div>
				<input type="hidden" name="id" value="{{user_id}}">
				<input type="hidden" name="retour" value="admin">
				<input type="password" id="mdp_old" name="mdp_old">
	            <label for="mdp_old">Ancien mot de passe</label>
				<input type="password" id="mdp" name="mdp">
	            <label for="mdp">Nouveau mot de passe</label>
	            <p id="msg_mdp">Le mot de passe doit avoir au moins 5 charactéres</p>
	            <br>
	            <input type="password" id="mdp1" name="mdp1">
	            <label for="mdp1">Répetez le nouveau mot de passe</label>
	            <p id="msg_mdp1">Les mots de passe ne sont pas identiques</p>
	            <input type="submit" value="Modifier" id="submit_mdp">
	          </div>
         </form>

        <form class="edit_flex clearfix" method="POST" action="user/change_mail.php">
        	<div>
        		<p>Mail utilisé: {{user_mail}}</p>
	        	<input type="hidden" name="id" value="{{user_id}}">
	        	<input type="hidden" name="retour" value="admin">
	            <input type="text" id="mail" name="mail">
	            <label for="name">Mail</label>
	            <p id="msg_mail">L'addresse mail n'est pas valide</p>
	            <br>
	            <input type="submit" value="Modifier" id="submit_mail">
	        </div>
		</form>
	</div>


	<form class="edit_club" action="user/delete_user.php" method="POST">
		<div>
			<p>Supprimer le compte</p>
			<input type="hidden" name="id" value="{{user_id}}">
			<input type="hidden" name="retour" value="admin">
			<input type="submit" class="delete" value="Supprimer">
		</div>
	</form>
	</section>
{% endblock %}